*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0)), url(../img/nat.jpg);
    background-size: cover;
    background-position: center;
}
nav{
  padding: 2% 2%;  
}
.header .logo img{
    width: 80px;
    height: 80px;
    border-radius: 8px;

}
nav ul{
    float: right;
    margin: 20px;
}
nav ul li{
    display: inline-block;
    margin: 0 5px;
}
nav ul li a{
    color: rgba(15, 183, 183, 0.952);
    font-size: 17px;
    font-weight: 300;
    padding: 7px 13px;
    text-transform: uppercase;
    border-radius: 3px;
}
a:hover{
    background: rgba(225, 71, 4, 0.396);
    transition: 0.5s;
}
.title{
    margin-top: 15%;
    text-align: center;
}
.title h1{
    color:rgba(169, 211, 234, 0.848);
    font-size: 3rem;
    font-weight: bold;
    padding: 0.5rem;
}
.title h2{
    color:rgba(169, 211, 234, 0.848);
    font-size: 1.3rem;
    padding: 0.5rem;
}
.button a{
    text-align: center;
    width: 190px;
    border: 2px solid rgba(225, 71, 4, 0.396);
    display: inline-block;
    margin: 0 15px;
    padding: 12px 0;
    color: rgba(15, 183, 183, 0.952);
    font-weight: bold;
    font-size: 20px;
    position: relative;
    border-radius: 80px;
}
.about{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0)), url(../img/natu.jpg);
    background-size: cover;
    background-position: center;
}
.about h2, p{
    text-align: center;
    
}
.about h2{
    color: beige;
    font-size: 3rem;
}
.about p{
    font-size: large;
    font-size: 2rem;
    color: aliceblue;
    margin: 10%;
}
a{
    text-align: center;
    width: 190px;
    border: 2px solid rgba(225, 70, 4, 0.084);
    margin: 0 15px;
    padding: 12px 0;
    color: rgba(15, 183, 183, 0.952);
    font-weight: bold;
    font-size: 20px;
    border-radius: 80px;
    display: inline-block;
}